/*== CSS Variables ==*/

:root {
  --white: #FFF;
	--light-gray: #F5F5F5;
  --dark-gray: #313131;
  --yellow: #EEA200;
  --main-font: 'Open Sans', sans-serif;
}

/*== Global Resets ==*/

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div,
ol, ul, li,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/*== Homepage Styles ==*/

body, label, input {
  font-family: var(--main-font);
}

/* Header & CTA */

header {
  color: var(--white);
  background-color: var(--dark-gray);
  background: url('/Assets/circuit-black.svg');
  height: 600px;
  display: flex;
  justify-content: space-between;
}

#intro-content {
  width: 45%;
  display: flex;
  align-items: center;
  margin: 2rem 0 0 1rem;
}

svg {
  align-self: flex-start;
  min-width: 94px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

#cta {
  width: 45%;
  background-color: var(--yellow);
  background: url('/Assets/zigzag-yellow-md.png') no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cta > div {
  width: 50%;
  min-width: 324px;
}

#cta-tagline {
  color: var(--dark-gray);
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

.input-fields {
  background-color: var(--white);
  padding: 1rem;
}

label {
  display: block;
  font-style: italic;
  font-weight: 300;
  color: var(--dark-gray);
}

input {
  width: 100%;
  border: none;
  font-size: 1.15rem;
}

input, ::placeholder {
  color: var(--dark-gray);
  font-weight: 700;
}

input[type="submit"] {
  width: auto;
  margin-top: 1.25rem;
  padding: 1rem;
  background-color: #2E2E2E;
  color: #D8C775;
  text-transform: uppercase;
}

/* Service Features */

#service-features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}

.service-feature > img {
  width: 20%;
  min-width: 70px;
  float: left;
  margin-right: 2rem;
}

/*== Media Queries ==*/

@media (max-width: 800px) {

  body {
    overflow-x: hidden;
  }

  /* Header & CTA */

  header, #intro-content {
    flex-direction: column;
    height: auto;
  }

  #intro-content, #cta {
    width: 100%;
  }

  #intro-content > div,
  #cta > div {
    width: 80%;
    padding: 4rem 0;
  }

  #cta {
    background: url('/Assets/zigzag-yellow-sm.png') no-repeat;
    background-size: cover;
  }

  /* Service Features */

  #service-features {
    justify-content: flex-start;
  }

}
